/* adding plain color for header and all elements */
header a{
    color: black;
}
*{
    color: black;
}
/* header, footer{
    background-color:# !important; -- Find background color that suits the page.
} */

.btn-outline-danger{
    border-color: #85E6BA !important;
    color: #85E6BA !important;
}
.btn-outline-danger:hover{
    background-color: #85E6BA !important;
    color: white !important;
}

.regular-price{
    text-decoration: line-through !important;
}
.card .category{
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-flex;
    padding: 5px;
    background-color: #85E6BA;
    color: white !important;
    font-size: 14px;
    border-radius: 5px;
}

.btn-add-cart{
    background-color: #85E6BA !important;
    border-color: #85E6BA !important;
    color: white !important;
    display: block;
    margin: auto;
}

.top .card img{
    height: 200px !important;
    object-fit: contain;
}