/* adding plain color for header and all elements */
header a{
    color: black !important;
}
*{
    color: black !important;
}
/* header, footer{
    background-color:# !important; -- Find background color that suits the page.
} */

