@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.container {
    position: relative;
}

  
  .relative {
    position: relative;
    text-align: center;
    top: 6rem;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    pointer-events: none;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
}

/* .navbar a::after {
    content: '';
    position: absolute;
    right: 600px;
    bottom: 0px;
    width: 3%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(-10px);
    opacity: 1;
} */

.productimage {
    width: 300px;
    height: 300px;
  }

.navbar .btnLogin-popup {
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.navbar .btnLogin-popup::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: #fff;
    opacity: .85;
}

.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(15px);
    box-shadow: -1px 0 10px rgba(0, 0, 0, .2);
    border-left: 2px solid rgba(255, 255, 255, .1);
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    opacity: 0;
    pointer-events: none;
}

.wrapper.active-popup {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
}

.icon-close i {
    font-size: 32px;
    color: #333;
}

.wrapper .logreg-box {
    width: 100%;
}

.wrapper .form-box.login {
    display: block;
}

.wrapper.active .form-box.login {
    display: none;
}

.wrapper .form-box.register {
    display: none;
}

.wrapper.active .form-box.register {
    display: block;
}

.logreg-box .logreg-title {
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
}

.logreg-title h2 {
    font-size: 32px;
}

.logreg-title p {
    font-size: 14px;
    font-weight: 500;
}

.logreg-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-right: 25px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box .icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 19px;
    color: #fff;
}

.logreg-box .remember-forgot {
    font-size: 14.5px;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.logreg-box .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    color: #222;
    font-weight: 600;
}

.logreg-box .logreg-link {
    font-size: 14.5px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 15px;
}

.logreg-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.logreg-link p a:hover {
    text-decoration: underline;
}

.media-options {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.media-options a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: 40px;
    color: #fff;
    text-decoration: none;
    transition: .5s;
}

.media-options a:hover {
    background: rgba(255, 255, 255, .1);
}

.media-options a i {
    font-size: 22px;
    margin: 0 8px 1.5px 0;
}

.media-options a span {
    font-size: 16px;
    font-weight: 500;
}

footer {
    font-size: 12px;
    color: white;   
    opacity: 0.8;
    text-align: center;
    padding: 10px;
    margin-top: auto;
  }

footer a {
    color: inherit;
    text-decoration: underline;
  }
  @media(max-width:768px){
  .banner_data{
    flex-direction: column;
    align-items: center !important;
    text-align: center;
    margin: 0px !important;
  }
  .banner_data .col-md-6.m-auto.p-4 {

    width: 100% !important;
}
.row.mt-4.home_about_content{
    flex-direction: column;
    align-items: center !important;
    text-align: center;
    margin: 0px !important;
}
.row.mt-4.home_about_content .col-md-6.mb-4{
    width: 100% !important;
}
.about_page_content{
    flex-direction: column;
    align-items: center !important;
    text-align: center;
    display: flex;
}
.testamonial_main{
    margin-bottom: 10px;
}
.testamonial_heading{
    text-align: center;
}
  }
  /*  */
  ul,figure{
    margin: 0px !important;
    padding: 0px !important;
  }
  ul li{
    list-style: none;
}
  .web_header{
    display: block;
    width: 100%;
    background-color: #fff !important;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 999;
    margin-bottom: 30px;
   }
   .mobile_header{
    display: none;
    width: 100%;
    background-color: #fff !important;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 999;
    margin-bottom: 30px;
   }
   .custom_container{
    max-width: 1140px;
    margin: 0px auto;
    }
/* web Header style start */
.web_header_main{
display: flex;
flex-direction: column;
width: 100%;
padding: 0px 15px;
}   
li.li_0.web_header_logo a {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.web_header_0{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px;
    align-items: center;
    }
    .web_header_0 ul{
        display: flex;
        align-items: center;
        margin: 0px;
    }
    .web_header_0 .links_list li{
       list-style: none;
       margin-right:40px;
    }

    .web_header_0 .links_list li a{
        text-decoration: none !important;
        font-size: 18px;
        font-weight: 500;
        color: #212121;
    }
    .web_header_0 .cart_links_list li{
        margin-right: 30px;
    }
    .web_header_0 .cart_links_list li:last-child{
        margin-right:0px;
     }
    .cart_links_list li a{
   position:relative;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 18px;
   color: #212121;
}

p.cart_total {
    position: absolute;
    background: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff !important;
    font-size: 14px;
    margin: 0px;
    top: -9px;
    right: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile_cart_total{
    position: absolute;
    background: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff !important;
    font-size: 14px;
    margin: 0px;
    top: -9px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* mobile header css */

.mobile_header_main{
display: flex;
flex-direction: column;
width: 100%;
padding: 0px 15px;
}   
.mobile_header_0{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px;
    align-items: center;
    }
    .mobile_header_0 ul{
        display: flex;
        align-items: center;
    }
    .mobile_header_0 ul li{
       list-style: none !important;
    }
    
     .mobile_header_0_list_0 li a{
        text-decoration: none !important;
       
    font-size: 32px;
    font-weight: bold;
    }
  
.mobile_res_toggle_content{
position: fixed;
top: 0;
left: 0;
height: 100vh;
transform: translatex(-100%);
transition: transform 0.3s ease-in-out;
z-index: 999;
width: 250px;
height: 100vh;
background-color: #fff !important;
padding: 20px 10px;
overflow-y: scroll;
box-shadow: 3px 3px 3px rgb(0 0 0 / 20%);
}
.mobile_res_toggle_content.responsive_bar{
    transform: translatex(0%);
}
.mobile_res_toggle_content_cancle {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;
}
.mobile_res_toggle_list_1{
    display: flex;
    flex-direction: column;
 
}
.mobile_res_toggle_list_1 li{
    list-style: none;
    border-bottom: 1px solid #cfcfcf;
   padding-bottom: 8px;
   margin-bottom: 15px;
}
.mobile_res_toggle_list_1 li:last-child{
    border-bottom: unset;
}


input:focus-visible{
    outline: unset !important; 
} 
@media(max-width:991px){
.web_header{
    display: none;
}
.mobile_header{
display: block;
}
}